

.myHeader {
  border: 5px outset BlanchedAlmond;
  background-color: #fffef0;
  text-align: center;

}
ul.navBar{
  list-style-type: none;
  margin: 0 auto;
  width: auto;
  padding: 0;
  overflow: hidden;
  background-color: BlanchedAlmond;
}

li.navBar {
  float: left;
  background-color: #fffef0;
  width: 25%;

  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}

li.navBar a.navBar {
  display: block;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover.navBar {
  background-color: #4C463D;
}


@media (max-width: 786px){
  .navBar{
  width: auto;
  margin: 0;
  overflow: hidden;
  float: none;
  padding: 0;
  display: block;
  text-align: center;
  background-color: Gainsboro;
  }
  li.navBar{
    float: none;
    width: auto;
  }
  li.navBar a.navBar{
    width:auto;
  }

  .myHeader{
    border: black;
    background-color: Gainsboro;
  }
  *{
    color: black;
  }

}



@media (min-width: 786px){
body {
position: absolute;
width: 75%;
min-height: calc((1vw + 1vh) * 75);
/* center page */
top: 0%; left: 50%; transform: translate(-50%, 0);
margin: 2em 0;
padding: 4em;
box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
background-color: #fffef0;
}


}

h1 {
  font-size: 30
}


.skillTable>table, th, td{
  border: 1px solid black;
  border-collapse: separate;

}
.skillTable>table th{
  background-color: Gainsboro;
}

/* font stuff not important */
@font-face {
  font-family: 'opendyslexic';
  src: url('../Fonts/OpenDyslexic-Regular.otf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('../Fonts/OpenDyslexic-Italic.otf');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('../Fonts/OpenDyslexic-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'opendyslexic';
  src: url('../Fonts/OpenDyslexic-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}


* {
  font-size:15px;
  line-height:200%;
      color: #191A42;
  font-family:opendyslexic !important;
}
